.project {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  width: 40%;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;

    h3 {
      font-size: 20px;
      padding-right: 7.5px;
      line-height: 1.25;
    }

    div {
      .icon {
        color: var(--tertiary);
        font-size: 1.5em;
      }
    }
  }

  .image {
    display: flex;
    max-height: 300px;

    img {
      width: 100%;
    }
  }

  .buttons {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    border-radius: 5px;
    overflow: hidden;
  }

  .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    outline: none;
    border: none;
    cursor: pointer;

    background-color: white;

    font-size: 1.25em;
    color: var(--primary);
    margin-left: 10px;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &-modal {
    p {
      text-align: left;
      margin: 25px 0;
      line-height: 1.5;
    }

    button {
      width: 100%;
      background-color: var(--primary);
      margin-top: 25px;
      height: 50px;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 2.5px;
      transition: all 0.3s ease 0s;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      outline: none;
      cursor: pointer;
    }
  }

  transition: all 0.5s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project {
    width: 100%;

    .title {
      h3 {
        font-size: 16px;
      }

      div {
        .icon {
          font-size: 1em;
        }
      }
    }

    .image {
      height: unset;
    }

    .btn {
      font-size: 1em;
      width: 40px;
      height: 40px;
    }
  }
}
