.about {
  min-height: 100vh;
  padding-top: 60px;

  .section {
    padding: 50px 150px;

    h1 {
      font-size: 36px;
      cursor: pointer;
      color: var(--tertiary);
      margin-bottom: 20px;

      span {
        background-image: linear-gradient(
          0deg,
          var(--primary) 17.5px,
          var(--primary) 17.5px,
          transparent 17.5px,
          transparent 100%
        );
      }
    }

    .desc {
      line-height: 1.5;
      letter-spacing: 1.5px;
    }

    .vision,
    .mission {
      line-height: 1.5;
      letter-spacing: 1.5px;
      margin-bottom: 25px;

      h2 {
        font-size: 32px;
      }
    }

    .mission {
      li {
        list-style-position: inside;
      }
    }

    .contact {
      line-height: 1.5;
      letter-spacing: 1.5px;

      div {
        margin-bottom: 10px;
      }

      .title {
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .about {
    .section {
      padding: 50px;
    }
  }
}
