.admin {
  min-height: 100vh;
  width: 100%;
  padding-top: 60px;

  .navbar {
    button {
      width: 200px;
    }
  }

  h1 {
    padding: 50px 150px;
    font-size: 36px;
    cursor: pointer;

    span {
      background-image: linear-gradient(
        0deg,
        var(--primary) 17.5px,
        var(--primary) 17.5px,
        transparent 17.5px,
        transparent 100%
      );
    }
  }

  .portofolio-management {
    .projects {
      padding: 50px 150px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .add-portofolio-btn {
        height: 50px;
        width: 50px;

        position: fixed;
        bottom: 50px;
        right: 50px;

        border-radius: 50%;
        border: none;
        font-size: 1.25em;
        background-color: var(--primary);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

        color: white;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .people-management {
    padding-bottom: 15vh;

    .people {
      margin: 25px 150px;

      height: 400px;
      position: relative;
      text-align: right;

      input {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: lighter;

        border: none;
        border-bottom: 2.5px solid var(--primary);
        outline: none;
        padding-bottom: 10px;
        height: 50px;
        font-size: 20px;

        &:last-of-type {
          top: 75px;
          font-size: 20px;
        }
      }

      .img {
        height: 100%;
      }

      img {
        height: 100%;
      }

      .btn-group {
        position: absolute;
        left: 0;
        bottom: 0;

        button {
          margin-top: 25px;
          width: 100px;
          background-color: var(--primary);
          color: white;
          padding: 10px;
          font-size: 16px;
          border: none;
          border-radius: 2.5px;
          transition: all 0.3s ease 0s;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          outline: none;
          cursor: pointer;

          &:nth-of-type(2) {
            margin: 25px 10px 0;
          }

          &:hover {
            background-color: var(--secondary);
            color: #fff;
            transform: translateY(-2.5px);
            backface-visibility: hidden;
          }
        }

        .btn-remove {
          background-color: var(--quartenary);
        }
      }
    }
  }
}

.add-portofolio-form {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    border-bottom: 2.5px solid var(--primary);
    outline: none;
    margin-top: 15px;
    padding-bottom: 10px;
    height: 50px;
    font-size: 20px;
  }

  .types {
    display: flex;
    justify-content: space-around;

    button {
      margin-top: 25px;
      flex: 1;
      background-color: var(--primary);
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 2.5px;
      transition: all 0.3s ease 0s;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      outline: none;
      cursor: pointer;

      &:nth-of-type(2) {
        margin: 25px 10px 0;
      }

      &:hover {
        background-color: var(--secondary);
        color: #fff;
        transform: translateY(-2.5px);
        backface-visibility: hidden;
      }
    }
  }

  .img {
    margin-top: 25px;
    height: 175px;
    width: 100%;

    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .admin {
    h1 {
      padding: 40px 50px 50px;
    }

    .portofolio-management {
      .projects {
        padding: 0 50px 50px;

        .add-portofolio-btn {
          width: 100%;

          position: static;
          border-radius: 2.5px;
        }
      }
    }

    .people-management {
      padding-bottom: 100px;

      .people {
        margin: 25px 50px;
        height: auto;

        input {
          position: static;
          width: 100%;

          padding-bottom: 0;
          font-size: 16px;

          &:last-of-type {
            top: 75px;
            font-size: 16px;
          }
        }

        .img {
          width: 100%;
          margin-top: 25px;

          img {
            width: 100%;
          }
        }

        .btn-group {
          display: flex;
          bottom: -60px;
          width: 100%;

          .btn {
            flex: 1;
            width: unset;
            font-size: 14px;
          }
        }
      }
    }
  }
}
