.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: 60px;
  width: 100%;
  background-color: var(--primary);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
  }

  .logo {
    height: 100%;
    padding-left: 25px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      border-radius: 50%;
      padding: 5px;
      height: 40px;
      width: 40px;
      background-color: white;
    }

    div {
      margin-left: 12.5px;
    }

    .title {
      font-size: 24px;
      color: white;
      font-weight: bold;
    }

    .subtitle {
      font-size: 12px;
      color: white;
    }
  }

  .buttons {
    height: 100%;

    button {
      background-color: var(--primary);
      height: 100%;
      width: 100px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      color: white;
      outline: none;
      transition: all 0.3s;

      &.manage-btn {
        width: 200px;

        span {
          margin-left: 10px;
        }
      }

      &:hover {
        background-color: darken(#f2b531, 25%);
      }
    }
  }

  .hamburger {
    padding: 15px 15px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: '';
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    .buttons {
      display: none;

      &.is-active {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--primary);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
          font-size: 30px;
          width: 250px;
          margin: auto 0;
          padding: 25px 0;
          font-style: italic;

          &.manage-btn {
            display: flex;
            height: unset;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;

            svg {
              font-size: 0.75em;
            }

            span {
              font-size: 24px;
            }
          }
        }
      }
    }

    .hamburger {
      display: inline-block;
      padding-right: 25px;
    }
  }
}
